%table.table.table-bordered
  %tr
    %th 年
    %th 月
    - Plan.cols.each do |col| 
      %th=col
  - @plan.months.each do |month|
    %tr
      - if month.month == 3
        %td{rowspan: 12}
          %h2
            = month.nendo.year
          %br
          %br
          = month.nendo.memo
          %table.table.table-bordered
            %tr
              - Plan.cols.each do |col| 
                %th=col
            %tr
              - Plan.cols.each do |col|
                %td=nwd month.year.cols[col]
      %td= link_to month.first_date.month, month_path(month)
      - Plan.cols.each do |col|
        - val = month.cols[col]
        - style = val && val < 0 ? 'background: #fc0' : ''
        %td{style: style}
          =nwd month.cols[col]


